/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);*/

#nav{
	position:fixed;
	display:block;
	width:100%;
	background-color: #E2474A;
	height:2.8em;
}

#logo{
	opacity:0.8;
	display:block;
	height:40px;
	margin: auto;
}

#add{
	position:absolute;
	opacity:0.8;
	height:28px;
}

#logo:hover{
	opacity:1.0;
}

body{
	background-color:#F2F2F2;
}

#content{
	padding-top:2.8em;
	clear:both;
	overflow:auto;
}

.post{
	margin: 1em;
	padding:.5em;
	background-color: white;
	display:block;
	clear:both;
	overflow:auto;
}

.petal{
	text-align: left;
	font-size:.9em;
	padding: 1em;
}

.thorn{
	border-top: solid 1px #F2F2F2;
	border-bottom: solid 1px #F2F2F2;
}