/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);*/

#nav{
	position:fixed;
	display:block;
	width:100%;
	background-color: #E2474A;
	height:2.8em;
}

#logo{
	opacity:0.8;
	display:block;
	height:40px;
	margin: auto;
}

#logo:hover{
	opacity:1.0;
}

body{
	background-color:#F2F2F2;
}

#content{
	padding-top:2.8em;
	min-height:200%;
}

.post{
	background-color: white;
	display:block;
	height:400px;
}

.petal{
	text-align: center;
}

.thorn{
	margin: 1em auto;
}